@import url("globals.css");

.color-primary {
  color: var(--primary);
}

.color-secondary {
  color: var(--secondary);
}

.color-tertiary {
  color: var(--tertiary);
}

.color-red {
  color: var(--red);
}

.rainbow {
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#ff0000),
    color-stop(#ffa600),
    color-stop(#fff500),
    color-stop(#06ff00),
    color-stop(#00c9ff),
    color-stop(#2300ff),
    color-stop(#ff00fa),
    to(#ff0000)
  );
  background: -o-linear-gradient(
    left,
    #ff0000,
    #ffa600,
    #fff500,
    #06ff00,
    #00c9ff,
    #2300ff,
    #ff00fa,
    #ff0000
  );
  background: linear-gradient(
    to right,
    #ff0000,
    #ffa600,
    #fff500,
    #06ff00,
    #00c9ff,
    #2300ff,
    #ff00fa,
    #ff0000
  );
  background-size: 200% auto;
  color: rgba(0, 0, 0, 0);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-animation: rainbow4 1s linear infinite;
  animation: rainbow4 1s linear infinite;
}

@-webkit-keyframes rainbow1 {
  from {
    color: rgb(255, 0, 0);
  }
  16.6% {
    color: rgb(255, 0, 255);
  }
  33.3% {
    color: rgb(0, 0, 255);
  }
  50% {
    color: rgb(0, 255, 255);
  }
  66.6% {
    color: rgb(0, 255, 0);
  }
  83.3% {
    color: rgb(255, 255, 0);
  }
  to {
    color: rgb(255, 0, 0);
  }
}

@keyframes rainbow1 {
  from {
    color: rgb(255, 0, 0);
  }
  16.6% {
    color: rgb(255, 0, 255);
  }
  33.3% {
    color: rgb(0, 0, 255);
  }
  50% {
    color: rgb(0, 255, 255);
  }
  66.6% {
    color: rgb(0, 255, 0);
  }
  83.3% {
    color: rgb(255, 255, 0);
  }
  to {
    color: rgb(255, 0, 0);
  }
}

@-webkit-keyframes rainbow2 {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 100%;
  }
}

@keyframes rainbow2 {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 100%;
  }
}

@-webkit-keyframes rainbow3 {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

@keyframes rainbow3 {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

@-webkit-keyframes rainbow4 {
  to {
    background-position: 200% center;
  }
}

@keyframes rainbow4 {
  to {
    background-position: 200% center;
  }
}
